.builder {
    display: flex;
    width: 95%;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-left: 30px;
  }
  
  .left-section {
    flex: 1.65;
    display: flex;
    flex-direction: column;
  }
  
  .env-settings {
    flex: 1.4;
    border-bottom: 1px solid #ccc;
  }
  
  .file-uploader {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
  }
  
  .terminal-output {
    flex: 2;
    background-color: #000;
    color: #fff;
    padding: 10px;
  }
  