/*
.comment-container {
}
*/
.comment {
  background-color: #4f87ff;
  color: white;
}
.comment-meta {
  display: flex;
  justify-content: space-between;
}
.comment-replies {
  border-left: 0.25ch solid lightgray;
  padding-left: 1em;
}
.comment-reply-button {
  font-weight: bold;
  border: none;
  background: none;
}
.comment-reply-form-input {
  border:none;
  border-radius:0.3em;
  background:lightgray;
  color:black;
}
