.post-details {
    background-color: #4f87ff;
    border-radius: 10px;
    padding: 16px;
    color: white;
    width: 750px;
    margin-left: 75px;
    margin-top: 15px;
}

.post-details-dark {
    background-color: #172c58;
    border-radius: 10px;
    padding: 16px;
    color: white;
    width: 750px;
    margin-left: 75px;
    margin-top: 15px;
}

.tags {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.tag {
    background-color: #EFEFEF;
    color: #000;
    padding: 4px 8px;
    border-radius: 8px;
}
