.post-form {
  background-color: #4f87ff;
  border-radius: 10px;
  padding: 16px;
  color: white;
  width: 750px;
  margin-left: 75px;
  margin-top: 15px;
}

.create-label {
  background-color: #EFEFEF;
  border: none;
}

.create-post-desc {
  background-color: #EFEFEF;
  display: block;
  width: 100%;
  height: 30%; 
  box-sizing: border-box;
  border: none;
}

.create-post-tags {
  position: absolute;
  border: 1px solid black;
  border-radius: 1em;
  background-color: #EFEFEF;
  color: black;
  padding: 0.6em;
}

.dont-display {
  display: none;
}

.create-post-btn {
  border: 1px solid black;
  padding: 0.2em;
  border-radius: 0.1em;
  background-color: #EFEFEF;
  color: black;
}

.create-post-submit {
  background-color: #EFEFEF;
  margin-top: 0.6em;
  padding: 0.3em;
  border: none;
}