.post-form {
  background-color: #4f87ff;
  border-radius: 10px;
  padding: 16px;
  color: white;
  width: 750px;
  margin-left: 75px;
  margin-top: 15px;
}

.post-form-title {
  background-color: #EFEFEF;
  border: none;
}

.post-form-content {
  background-color: #EFEFEF;
  display: block;
  width: 100%;
  height: 30%; /* something something rooms n' stuff */
  box-sizing: border-box;
  border: none;
}

.post-form-tags {
  position: absolute;
  border: 1px solid black;
  border-radius: 1em;
  background-color: #EFEFEF;
  color: black;
  padding: 0.6em;
}

.dont-display {
  display: none;
}

.post-form-tags-btn {
  /* display: inline-block; / * just trying to make THIS POPUP WORK ARGH */
  border: 1px solid black;
  padding: 0.2em;
  border-radius: 0.1em;
  background-color: #EFEFEF;
  color: black;
}

.post-form-submit {
  background-color: #EFEFEF;
  margin-top: 0.6em;
  padding: 0.3em;
  border: none;
}

.builder-form {
  margin: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "set   output"
                       "files output";
  grid-gap: 0.3em;
}
.builder-settings {
  grid-area: set;
}
.builder-input {
  grid-area: files;
}
.builder-output {
  grid-area: output;
  background: black;
  color: white;
}
