/* Overall container styling */
.app-container {
  display: grid;
  grid-template-areas: 
    "top-nav top-nav"
    "sidebar content";
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr;
  background-color: #F0F0F0;
  min-height: 100vh;
  overflow: hidden;
}

/* Top Navigation Bar */
.top-nav {
  grid-area: top-nav;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #A1C4FB;
}

.home-icon {
  margin-right: 20px;
}

.search-bar {
  width: 450px;
  padding: 8px;
  margin-left: 300px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.filter-button {
  height: 33px;
  width: 40px;
  border: none;
  background-color: #D9D9D9;
}

.filter-button:hover {
  background-color: #bbbbbb;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  position: absolute; /* Allows you to control positioning with top and left */
  top: 100px; /* Distance from the top bar */
  left: 20px; /* Distance from the left side of the website */
  width: 175px; /* Set your desired width */
  height: 350px; /* Set your desired height */
  background-color: #A1C4FB; /* Sidebar color */
  border-radius: 8px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for a floating effect */
  gap: 20px;
}

.menu-item {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #ADD8E6;
}

/* Main Content Area */
.content {
  grid-area: content;
  padding: 20px;
  background-color: #F0F0F0;
  margin-left: 25px;
}

.App-logo {
  width: 50px;
  margin-left: 50px;
  height: auto;
}
