/* UserSettings.css */
.user-nav {
  padding: 1em 1em 1em 4em;
}

nav {
  padding-top: 2em;
  padding-bottom: 1.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 0 0.8em 0 0;
}

li a {
  display: block;
  background-color: #D9D9D9;
  color: black;
  text-align: center;
  padding: 0.4em 1em 0.4em 1em;
  text-decoration: none;
  font-size: 1.25em;
  border-radius: 0.3em;
}

li a.active {
  font-weight: bold; 
}

/* Login Feature */
.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.login-content {
  background: #D9D9D9;
  padding: 20px;
  border-radius: 8px;
  width: 17em;
  height: 20em;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
}

.login-group form {
  margin: 1.6em 0 1em 0;
}

.or {
  color: gray;
  font-size: 11px;
}

.login-input {
  border: none;
  padding: 0.3em;
  margin-bottom: 1em;

}

.login-button {
  border: none;
  padding: 0.5em 5.2em;
  background: #4f87ff;
  color: white;
  border-radius: 3px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.toggle-button {
  background: #4f87ff;
  padding: 0.5em 2.3em;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* Password Change Feature */

.password-content {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 1em;
}

.buttons button {
  border: none;
  background-color: #D9D9D9;
  padding: 0.7em;
}

.buttons button:hover {
  background-color: #bbbbbb;
  cursor: pointer;
}

.submit {
  margin-right: 1em;
}

.password-input {
  width: 30em;
  height: 1.5em;
}

/* My Posts */


/* Personalize */
.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1em;
}

.toggle-label {
  font-size: 1.25em;
  font-weight: 500;
}

.toggle-btn {
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-btn.on {
  background-color: #444;
  color: #fff;
}

.toggle-btn.off {
  background-color: #ddd;
  color: #000;
}